*{background-color: black;
  color: white;
}
.jumbotron{
  background-color: black;
}
.emily{
  color: #ff0000;
}
.contact{
  text-align: center;
}
.ticketplex{
  padding: 500px;
}
.contact{
  text-decoration: underline;
}
.outer{
  width:300px;text-align:center;margin:0 auto}
.cover{
  padding:4px 0;border:2px solid #111}
.email{
  color: #ff0000;
}
.linkdin{
  color: #ff0000;
}
.github{
  color: #ff0000;
}
.clock{
  position: 50px;
}
.list{
  font-weight: normal;
  text-decoration: none;
}
body {
  background: black;
  background: -webkit-linear-gradient(to right, black, black);
  background: linear-gradient(to right, black, black);
  min-height: 100vh;
}

#button-addon1 {
  color: black;
}

i {
  color: black;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: black;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}
.fa-facebook-f:before {
  content: "\f39e";
}
* :after, :before {
  box-sizing: border-box;
}
.fa-twitter:before {
  content: "\f099";
}
*, :after, :before {
  box-sizing: border-box;
}
.fa-google:before {
  content: "\f1a0";
}
*, :after, :before {
  box-sizing: border-box;
}
.fa-google:before {
  content: "\f1a0";
}
*, :after, :before {
  box-sizing: border-box;
}
.fa-linkedin-in:before {
  content: "\f0e1";
}
*, :after, :before {
  box-sizing: border-box;
}
.fa-github:before {
  content: "\f09b";
}
*, :after, :before {
  box-sizing: border-box;
}
.fa-instagram:before {
  content: "\f16d";
}
*, :after, :before {
  box-sizing: border-box;
}